<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="activeTabIndex">
    <mat-tab label="Load Data">
      <div class="tab-content">
        <app-pdf-uploader (filesSubmitted)="handleFiles($event)"></app-pdf-uploader>
      </div>
    </mat-tab>
    
    <mat-tab label="View Combined Data">
      <div class="tab-content">
        <app-display-json></app-display-json>
      </div>
    </mat-tab>
    
    <!-- <mat-tab label="Fill Form">
      <div class="tab-content">
        <app-fill-form></app-fill-form>
      </div>
    </mat-tab> -->
  </mat-tab-group>
